<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wellsaid.it.racingcalendardata" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <receiver android:name=".RacingCalendarNotifier$RCAlarmReceiver" />
    </application>

</manifest>
